name: Auto Version Build & Release

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.version.outputs.tag }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # WAJIB untuk baca tag

      - name: Get latest tag
        id: version
        run: |
          git fetch --tags
          LAST_TAG=$(git tag --sort=-v:refname | head -n 1)
          if [ -z "$LAST_TAG" ]; then
            NEW_TAG="v1.0.0"
          else
            VERSION=${LAST_TAG#v}
            IFS='.' read -r MAJOR MINOR PATCH <<< "$VERSION"
            PATCH=$((PATCH+1))
            NEW_TAG="v$MAJOR.$MINOR.$PATCH"
          fi
          echo "tag=$NEW_TAG" >> $GITHUB_OUTPUT
          echo "New tag: $NEW_TAG"

      - name: Create tag
        run: |
          git tag ${{ steps.version.outputs.tag }}
          git push origin ${{ steps.version.outputs.tag }}

  build:
    needs: release
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.release.outputs.tag }}

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install pyinstaller PySide6

      - name: Install rsync (Windows)
        if: runner.os == 'Windows'
        run: choco install rsync -y

      - name: Build Windows
        if: runner.os == 'Windows'
        run: pyinstaller --onefile --windowed --name VPS-Rsync-Sync-Windows app.py

      - name: Build macOS
        if: runner.os == 'macOS'
        run: |
          pyinstaller --windowed \
          --onedir \
          --target-architecture universal2 \
          --name VPS-Rsync-Sync-macOS \
          app.py

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.release.outputs.tag }}
          files: dist/*
